*.aps
*.exe
*.o
*.opensdf
*.props
*.rc
*.sdf
*.sln
*.swp
*.v11.suo
*vcxproj*
.DS_Store
.autotools
.cproject
.project
.settings/
.ycm_extra_conf.pyc
HumanPoseDetector.*
resource.h
script/cl_res_drawer_test/des/
unsu
x64
build
debug
test
