*.o
unsu
x64
HumanPoseDetector.*
*.v11.suo
*.props
*.exe
.project
.cproject
.autotools
.settings/
.ycm_extra_conf.pyc
.DS_Store
script/cl_res_drawer_test/des/
*.sln
*.sdf
*.opensdf
*.aps
*.rc
*vcxproj*
resource.h
*.swp

